.sidebar {
  width: 250px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.section {
  border: 2px solid black;
}

.header {
  background-color: gray;
  padding: 3px;
  cursor: pointer;
}

.body {
  padding: 3px;
}
